ion-title {
  font-size: 50px;
  text-align: center;
  font-variant: small-caps;
}

.icono {
  font-size: 32px;
}

.grande {
  font-size: 64px;
}

.medio {
  font-size: 32px;
}

.editar {
  width: 5%;
  margin: 10px;
  border-bottom: 0;
}

.articulo {
  width: 50%;
}

.unidades {
  width: 10%;
}

.precio {
  width: 20%;
}

.borrar {
  width: 5%;
  margin: 10px;
  border-bottom: 0;
}

.centrar {
  //min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.cifra {
  text-align: right;
}

.lista td {
  height: 50px;
  border-bottom: 2px solid grey;
}

.lista ion-label {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.total ion-label {
  font-size: 24px;
}

.total {
  --background: #00e000;
}

.espacio_arriba
 {
  height: 50px;
 }
