ion-title {
  font-size: 50px;
  text-align: center;
  font-variant: small-caps;
}
/*
ion-grid {
  background-image: url("/assets/super.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
*/
ion-toggle {
  height:10px;
  width: 50px;

  --background: #dddddd;
  --background-checked: #28ba62;

  --handle-background: grey;
  --background-checked: #28ba62;

  --handle-width: 25px;
  --handle-height: 25px;
  --handle-max-height: auto;

  --handle-spacing: 6px;
  --handle-border: 0px;
}

ion-checkbox {
  --size: 80%;
  --background: grey;
  --background-checked: #28ba62;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 0px;
}

.grande {
  font-size: 64px;
}

.medio {
  font-size: 32px;
}

.carrito {
  width: 5%;
  margin: 10px;
  border-bottom: 0;
}

.articulo {
  width: 50%;
}

.unidades {
  width: 10%;
}

.precio {
  width: 20%;
}

.botoncito {
  text-align: center;
}

.centrar {
  //min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filtro {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

.cifra {
  text-align: right;
}
.dia, .semana, .mes {
/*
  --background: #24D19A;
  --background: #28ba62;
  --background: #24d138;
*/
  margin: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/calendar-clear-outline.svg");
}

.interruptor {
  width: 30%;
}

.lista td{
  height: 50px;
  border-bottom: 2px solid grey;
}

.lista ion-label {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.total ion-label {
  font-size: 24px;
}

.total {
  --background: rgb(36,209,154);
  --background: linear-gradient(90deg, rgba(36,209,56,1) 0%, rgba(40,186,98,1) 50%, rgba(36,209,154,1) 100%);
}
.cabecera {
  --background: rgb(36,209,154);
  --background: linear-gradient(90deg, rgba(36,209,154,1) 0%, rgba(40,186,98,1) 50%, rgba(36,209,56,1) 100%);
}

.fondo
{
  background-color: #28ba62;
}
.pushable {
  background: #545454;// hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 16px;
  background: #787878;
  color: white;
  transform: translateY(-6px);
}
/*
.pushable:active .front {
  transform: translateY(-2px);
} */
