<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img src="/assets/logo.svg" alt="logo" height="64px">
    </ion-buttons>
    <ion-title>Visto</ion-title>
    <ion-buttons slot="end">
      <ion-icon routerLink="/ayuda" name="help-circle-outline" class="grande"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="filtro">
        <table align="center">
          <tr>
            <td class="interruptor">
              <ion-card class="dia">
                <ion-card-content>
                  <h1>D</h1>
                  <ion-toggle id="dia"></ion-toggle>
                </ion-card-content>
              </ion-card>
            </td>
            <td class="interruptor">
              <ion-card class="semana">
                <ion-card-content>
                  <h1>S</h1>
                  <ion-toggle id="semana"></ion-toggle>
                </ion-card-content>
              </ion-card>
            </td>
            <td class="interruptor">
              <ion-card class="mes">
                <ion-card-content>
                  <h1>M</h1>
                  <ion-toggle id="mes"></ion-toggle>
                </ion-card-content>
              </ion-card>
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>

    <!-- lista -->
    <ion-row>
      <ion-col>
        <table width="95%" align="center" class="lista" id="listado">
          <tr>
            <td class="carrito">
              <ion-icon name="cart" class="medio"></ion-icon>
            </td>
            <td class="articulo">
              <ion-label><b>Articulo</b></ion-label>
            </td>
            <td class="unidades" class="cifra">
              <ion-label><b>Uds</b></ion-label>
            </td>
            <td class="precio" class="cifra">
              <ion-label><b>Precio</b></ion-label>
            </td>
          </tr>
          <tr>
            <td class="carrito">
              <ion-checkbox></ion-checkbox>
            </td>
            <td class="articulo">
              <ion-label>Pan</ion-label>
            </td>
            <td class="unidades" class="cifra">
              <ion-label> 1</ion-label>
            </td>
            <td class="precio" class="cifra">
              <ion-label> 0.65</ion-label>
            </td>
          </tr>
          <tr>
            <td class="carrito">
              <ion-checkbox slot="start"></ion-checkbox>
            </td>
            <td class="articulo">
              <ion-label>Cereales</ion-label>
            </td>
            <td class="unidades" class="cifra">
              <ion-label> 1</ion-label>
            </td>
            <td class="precio" class="cifra">
              <ion-label> 1.75</ion-label>
            </td>
          </tr>
          <tr>
            <td class="carrito">
              <ion-checkbox slot="start"></ion-checkbox>
            </td>
            <td class="articulo">
              <ion-label> Leche</ion-label>
            </td>
            <td class="unidades" class="cifra">
              <ion-label> 1</ion-label>
            </td>
            <td class="precio" class="cifra">
              <ion-label> 1.13</ion-label>
            </td>
          </tr>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer >
  <ion-toolbar class="total">

    <table width="90%" align="center" id="testeo1" >
      <tr class="totales">
        <td class="carrito">
          <ion-icon name="trash" class="medio" (click)="click()" id="testeo2"></ion-icon>
        </td>
        <td class="unidades" class="cifra">
          <ion-label><b>Total</b></ion-label>
        </td>
        <td class="precio" class="cifra">
          <ion-label><b id="testeo3">11.13</b></ion-label>
        </td>
      </tr>
    </table>

  </ion-toolbar>
</ion-footer>
