<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <img src="/assets/logo.svg" alt="logo" height="64px">
    </ion-buttons>
      <ion-title>Visto</ion-title>
    <ion-buttons slot="end">
      <ion-icon routerLink="/ayuda" name="help-circle-outline" class="grande"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-grid>
  <ion-row><!-- Cabecera filtro -->
    <ion-col class="filtro">
      <ion-label>Dia</ion-label>
    </ion-col>
    <ion-col class="filtro">
      <ion-label>Semana</ion-label>
    </ion-col>
    <ion-col class="filtro">
      <ion-label>Mes</ion-label>
    </ion-col>
  </ion-row>
  <ion-row><!-- filtros -->
    <ion-col class="centrar">
      <ion-item lines="none">
        <ion-toggle></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col class="centrar">
      <ion-item lines="none">
        <ion-toggle>
        </ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col class="centrar">
      <ion-item lines="none">
        <ion-toggle>
        </ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row> <!-- lista -->
    <ion-col>
      <table width="95%" align="center">
        <tr>
          <th class="carrito"><ion-icon name="cart"></ion-icon></th>
          <th class="articulo"><ion-label>Articulo</ion-label></th>
          <th class="unidades"><ion-label>Uds</ion-label></th>
          <th class="precio"><ion-label>Precio</ion-label></th>
        </tr>
        <tr>
          <td class="carrito"><ion-checkbox slot="start"></ion-checkbox></td>
          <td class="articulo"><ion-label>Pan</ion-label></td>
          <td class="unidades" class="cifra"><ion-label> 1</ion-label></td>
          <td class="precio" class="cifra"><ion-label> 0.65</ion-label></td>
        </tr>
        <tr>
          <td class="carrito"><ion-checkbox slot="start"></ion-checkbox></td>
          <td class="articulo"><ion-label>Cereales</ion-label></td>
          <td class="unidades" class="cifra"><ion-label> 1</ion-label></td>
          <td class="precio" class="cifra"><ion-label> 1.75</ion-label></td>
        </tr>
        <tr>
          <td class="carrito"><ion-checkbox slot="start"></ion-checkbox></td>
          <td class="articulo"><ion-label> Leche</ion-label></td>
          <td class="unidades" class="cifra"><ion-label> 1</ion-label></td>
          <td class="precio" class="cifra"><ion-label> 1.13</ion-label></td>
        </tr>
      </table>
    </ion-col>
  </ion-row>
  <!-- Totales -->
  <ion-row>
    <ion-col>
      <table width="95%" align="center">
        <tr>
          <th class="carrito"><ion-button><ion-icon name="trash"></ion-icon></ion-button></th>
          <th class="articulo"><ion-label> Total</ion-label></th>
          <th class="unidades"></th>
          <td class="precio" class="cifra"><ion-label><b> 1.13</b></ion-label></td>
        </tr>
      </table>
    </ion-col>
  </ion-row>

</ion-grid>
</ion-content>
