
<ion-header>
  <ion-toolbar>
    <ion-title>ayuda</ion-title>
    <ion-buttons slot="end">
<!--       <ion-back-button slot="end" icon="close-circle-outline"> -->
    <ion-icon name="close-circle-outline" routerLink="/"></ion-icon>
<!--     </ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <iframe width="100%" src="https://www.youtube.com/embed/ptc4Awb0UpU" title="YouTube video player" frameborder="0" allow="clipboard-write; encrypted-media"></iframe>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  

<ion-card class="card-contacto">
  <table>
    <tr>
      <td width="150px">
        <!-- TODO ION-AVATAR -->
        <img class="logo" src="/assets/logo.svg" alt="logo" height="80px">
      </td>
      <td>
        <h6>Contacto</h6>
        <p class="titulo"><strong>Visto SA</strong></p>
        <p>contacto@visto.com</p>
      </td>
    </tr>
  </table>


</ion-card>

</ion-content>
