<ion-header>
  <ion-toolbar class="cabecera">
    <ion-title>Ayuda</ion-title>
    <ion-buttons slot="end">
      <!--       <ion-back-button slot="end" icon="close-circle-outline"> -->
      <ion-icon name="close-circle-outline" routerLink="/"></ion-icon>
      <!--     </ion-back-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <iframe width="100%" src="https://www.youtube.com/embed/ptc4Awb0UpU" title="YouTube video player" frameborder="0"
        allow="clipboard-write; encrypted-media"></iframe>
    </ion-card-header>
    <!-- TODO AYUDA -->
    <ion-card-content>
        <p>
          Actualmente no disponemos del video de ayuda, cuando esté disponible le aparecerá el video correcto encima de este párrafo. Lamentamos las molestias.
        </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-contacto">
    <ion-item lines="none">
      <ion-avatar slot="start"><img class="logo" src="/assets/logo.svg" alt="logo" height="80px"></ion-avatar>
      <p><strong class="titulo">Visto</strong> <br>contacto@visto.com</p>
    </ion-item>
  </ion-card>

</ion-content>
